<% post_comments.each do |post_comment| %>
  <div class="comment_box_area">
    <div class="comment_box">
    <div class="timeline_header">
      <div class="row">
        <div class="col-2 icon-user">
          <%= link_to admins_user_show_path(post_comment.user) do %>
          <%= attachment_image_tag post_comment.user, :image, fallback: "no_image.jpg", size: "50x50" %>
          <% end %>
        </div>
        <div class="col-3 user-name">
          <%= post_comment.user.name %>
        </div>
        <div class="col-4"></div>
        <div class="col-3 time_cell">
            <%= post_comment.created_at.strftime('%Y/%m/%d %R') %>
        </div>
      </div>
    </div>
    <div class="comment_main">
      <div class="comment_text">
        <%= post_comment.content %>
      </div>
      <div class="comment_delete_box">
        <%= link_to "削除", admins_post_comment_destroy_path(post_comment.post_ramen, post_comment), class: "comment_delete", method: :delete, data: {confirm: "削除しますか？"} %>
      </div>
    </div>
  </div>
  </div>
<% end %>