  <%= attachment_image_tag @post_ramen, :image, fallback: "no_image.jpg", size: "400x300" %>
  <% if @post_ramen.user == current_user %>
   <%= link_to "削除", post_ramen_path(@post_ramen), method: :delete %>
  <% end %>
  <p>タイトル</p>
  <p><%= @post_ramen.title %></p>
  <p>本文</p>
  <p><%= @post_ramen.content %></p>
  <div class="col-xs-12">
   <% @tags.each do |tag| %>
    <%= link_to "#"+tag.name, post_ramens_path(tag.name), class: "badge badge-pill badge-primary" %>
    <!--<= raw(@post_ramen.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>-->

   <% end %>
  </div>
  評価：<%= @post_ramen.review %>点
  <div id="star-rate-<%= @post_ramen.id %>"></div>
    <script>
    $('#star-rate-<%= @post_ramen.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @post_ramen.review %>,
    });
    </script>
    <p>コメント件数：<%= @post_ramen.post_comments.count %></p>
    <% @post_ramen.post_comments.each do |post_comment| %>
      <%= post_comment.user.name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.content %>
      <% if post_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", post_ramen_post_comment_path(post_comment.post_ramen, post_comment), method: :delete %>
  </div>
      <% end %>
      <% if @post_ramen.liked_by?(current_user) %>
    <p>
      <%= link_to post_ramen_like_path(@post_ramen), method: :delete do %>
        ♥<%= @post_ramen.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_ramen_likes_path(@post_ramen), method: :post do %>
        ♡<%= @post_ramen.likes.count %> いいね
      <% end %>
    </p>
  <% end %>

    <% end %>
    <%= form_with(model:[@post_ramen, @post_comment], local: true) do |f| %>
      <%= f.text_area :content, rows:'5',placeholder: "コメントをここに" %>
      <%= f.submit "コメントする" %>
    <% end %>


  <div id="map"></div>


<script>
  let map;

  function initMap() {
    // geocoderを初期化
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.address.latitude,
        lng: gon.address.longitude
      },
      // マップの倍率はお好みで
      zoom: 15,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.address.latitude,
        lng: gon.address.longitude
      },
      map: map
    });
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GMAP_API'] %>&callback=initMap">
</script>
