<div class="card border-secondary" style="width: 100%;">
  <% post_ramens.each do |post_ramen| %>
  <div class="card-header">
    <div class="row">
      <div class="card-user-icon col-3">USERICON</div>
      <div class="card-user-name col-5"><h5><%= post_ramen.user.name %></h5></div>
      <div class="card-review col-4">
        <div id="star-rate-<%= post_ramen.id %>">
          <script>
          $('#star-rate-<%= post_ramen.id %>').raty({
            size: 20,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post_ramen.review %>,
          });
        </script>
        </div>
      </div>
    </div>
  </div>
  <%= link_to post_ramen_path(post_ramen.id) do %>
  <div class="card-body" >
      <div class="row">
        <div class="card-img col-4">
        <%= attachment_image_tag post_ramen, :image, fallback: "no_image.jpg", size: "200x200" %>
        </div>
        <div class="card-content col-7">
          <div class="card-content-title">
          <h6><%= post_ramen.title %></h6>
        </div>
        <div class="card-content-content">
          <%= post_ramen.content %>
        </div>
      </div>
  </div>
  <% end %>
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-4">コメント</div>
      <div class="col-4" id="like-<%= post_ramen.id %>">
        <%= render 'likes/like_button', post_ramen: post_ramen %>
      </div>
      <div class="col-4">お気に入り</div>
    </div>
  </div>
  <% end %>
  </div>
</div>
<%#= paginate @post_ramen %>

