<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <% if user_signed_in? %>
    <% if admin_signed_in? %>
    <div class="container">
      <a class="navbar-brand" href=""><span>MINNANO★RAMEN User&Admin</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'User_top',homes_index_path,class: 'nav-link text-light' %></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'Admin_top',admins_users_index_path,class: 'nav-link text-light' %></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'User_Logout',destroy_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'Admin_Logout',destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %></li>
        </ul>
      </div>
    </div> <!------USER&ADMIN------>
    <% end %>
    <% end %>
    <% if user_signed_in? %>
    <% if admin_signed_in? %>
    <% else %>
    <div class="container">
      <a class="navbar-brand" href="/homes/index"><span>MINNANO★RAMEN User</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'User_Logout',destroy_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'Admin_Login',new_admin_session_path, class: 'nav-link text-light' %></li>
        </ul>
      </div>
    </div> <!---------USER-------->
    <% end %>
    <% end %>
    <% if user_signed_in? %>
    <% else %>
    <% if admin_signed_in? %>
    <div class="container">
      <a class="navbar-brand" href=""><span>MINNANO★RAMEN ADMIN</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'User_Login', new_user_session_path,class: 'nav-link text-light' %></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'Admin_Logout', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %></li>
        </ul>
      </div>
    </div> <!---------ADMIN-------->
    <% end %>
    <% end %>
    <% if user_signed_in? %>
    <% else %>
    <% if admin_signed_in? %>
    <% else %>
    <div class="container">
      <a class="navbar-brand" href="/"><span>MINNANO★RAMEN NONE</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> <!---------NONE-------->
    <% end %>
    <% end %>
  </nav>
</header>